.social {
    display: none;

    @media screen and (min-width: $bp-desktop) {
            display: flex;
            gap: 16px;
    }

    @media screen and (min-width: $bp-desktop) {
        display: flex;
        gap: 32px;
    }

    &__icon {
        fill: var(--color-brand-dark);
        transition: fill 0.2s;

        &:hover{
            fill: var(--color-brand-light);
        }
    }
}

.footer-icon {
    fill: var(--color-white);
    transition: fill 0.2s;

    &:hover {
        fill: var(--color-brand-light);
    }
}

.services-ellipse {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 24px;
    fill: var(--color-privacy-policy);
}

.mobile-icon {
    fill: var(--color-primary-light);
}