.contact-section{
    padding-bottom: 0;

   @media screen and (min-width: $bp-tablet){
        padding-bottom: 96px;
   }

    &__title {
        font-size: 32px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 24px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 64px;
            font-weight: 700;
            margin-bottom: 48px;
        }

        span {
            color: var(--color-brand-light);
        }
    }

    &__conteiner {
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            flex-direction: row;
            gap: 32px;
            justify-content: center;
        }
    }
    
    &__map {
        border: none;
        width: 100%;
        height: 232px;

        @media screen and (min-width: $bp-tablet) {
            max-width: 605px;
            height: 481px;
            border-radius: 16px;
        }
    }

    &__form-conteiner {
        max-width: 423px;
        max-height: 481px;
        background-color: var(--big-star-color);
        border-radius: 32px;
        padding: 42px 24px;
        margin: 0 20px;

        @media screen and (min-width: $bp-tablet) {
            padding: 48px 57px;
        }
    }
    
    &__form-title {
        font-size: 22px;
        font-weight: 600;
        line-height: 1.17;
        margin: 0;
        color: var(--color-white);
        margin-bottom: 24px;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 32px;
        }

        span {
            color: var(--color-brand-light);
        }
    }

    &__form-field {
        margin-bottom: 24px;
    }

    &__basic {
        padding: 0;

        @media screen and (min-width: $bp-tablet) {
            padding: 0 20px;
        }
    }

}
