.footer {
    position: relative;
    background-color: #011C44;
    background-image: url(../images/footer-background.png);
    background-repeat: no-repeat;
    padding: 32px 91px 66px;

    @media screen and (min-width: $bp-tablet) {
        padding: 56px 0;
    }

    &::before {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            background-image: url(../images/photo-background.png);
            position: absolute;
            display: block;
            content: '';
            background-repeat: no-repeat;
            width: 247px;
            height: 152px;
            right: 0;
            bottom: 0;
        }
    }
    
    &__conteiner {
        display: block;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            gap: 20px;
            text-align: start;
        }
    }
    
    &__nav,
    &__address {
        display: block;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            flex-basis: 50%;
        }
    }
    
    &__address {
        gap: 120px;
    }
    
    &__icon-menu {
        display: flex;
        gap: 24px;
        justify-content: center;

        @media screen and (min-width: $bp-tablet) {
            justify-content: flex-start;
        }
    }
    
    &__list {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            margin: 0;
            padding: 0;
            flex-basis: 50%;
            display: block;
        }

        li {
            margin-bottom: 16px;
        }
    }
    
    &__menu {
        margin: 0;
        padding: 0;
        font-size: 14px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 16px;
            flex-basis: 50%;
        }
        
        li:not(:first-child) {
            margin-top: 16px;
        }
    }
    
    &__logo {
        margin-bottom: 42px;

        @media screen and (min-width: $bp-tablet) {
            flex-basis: 50%;
        }
    }
    
    &__address-info {
        flex-basis: 50%;
    }
    
    &__address-copyright {
        color: var(--color-privacy-policy);
        font-size: 13px;
    }

}
