.info-section {
    padding-bottom: 176px;
    
    &__conteiner {
        display: flex;
        gap: 32px;
        position: relative;
        margin-top: -48px;
    }

    &__content {
        max-width: 709px;
        @media screen and (min-width: $bp-desktop) {
            margin-top: 0;
        }
    }

    &__title {
       font-size: 32px;
       margin-top: 24px;
       font-weight: 700;
       width: 264px;

        span {
            color: var(--color-brand-light);
            text-transform: capitalize;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 64px;
            line-height: 1.1;
            width: 529px;
            margin-top: 40px;
        }
    }

    &__text {
        color: var(--color-primary-light);

        @media screen and (min-width: $bp-desktop) {
            font-size: 22px;
        }

        span {
            font-weight: 600;
            text-transform: capitalize;
        }
    }

    &__photo {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: block;
            position: relative;
        }
    
    }
}

.photo-result {
    border-radius: 50%;
}

.after-procedure {
    margin-top: 40px;
    padding-left: 172px;
}

