.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    background-color: #011F4A66;

    &.is-hidden {
        opacity: 0;
        /*робить вікно прозорим*/
        visibility: hidden;
        /*ховає вікно*/
        pointer-events: none;
        /*- робить нажаття на модальне меню недоступним */
    }
}

.modal {
    position: relative;
    width: 100%;
    max-width: 723px;
    height: 100%;
    max-height: 681px;
    background-color: var(--color-primary-light);
    background-image: url(../images/modal-background.png);
    border-radius: 48px;
    padding: 96px 24px;
    margin: 0 10px;

    @media screen and (min-width: $bp-tablet) {
        padding: 42px 144px;
        margin: 0;
    }

    &__btn-close {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 32px;
        height: 32px;
        background-color: var(--color-brand-dark);
        background-image: url(../images/modal-btn-close.png);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        cursor: pointer;
    }

    &__form-field {
        margin-bottom: 24px;
    }

    &__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.15;
        color: var(--color-white);
        text-align: center;
        margin-bottom: 20px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 64px;
            margin-bottom: 40px;
        }
    }
    
    &__text {
        color: var(--color-white);
        width: 274px;
        margin: 0 auto 32px;
        text-align: center;
        font-weight: 600;

        span {
            color: var(--color-brand-light);
        }
    }
}
